body {
  background: black;
  padding: 20px;
  font-family: Helvetica;
  color: white;
}

th {
  text-align: right;
}

td {
  padding: 5px;
}

.icon {
  border-radius: 50%
}

#app {}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}
